NET "clk" LOC = "E12";
NET "reset" LOC = "T15" | IOSTANDARD = LVCMOS33;

NET "minute_set" LOC = "V8" | IOSTANDARD = LVCMOS33;
NET "hour_set" LOC = "U10" | IOSTANDARD = LVCMOS33;
NET "day_set" LOC = "U8" | IOSTANDARD = LVCMOS33;
NET "alarm_set" LOC = "T9" | IOSTANDARD = LVCMOS33;

NET "ROT_A" LOC = "T13" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "ROT_B" LOC = "R14" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "ROT_CENTER" LOC = "R13" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;

NET "alarm_on" LOC = "W21" | IOSTANDARD = LVCMOS33;
NET "alarm_led[0]" LOC = "V20" | IOSTANDARD = LVCMOS33;
NET "alarm_led[1]" LOC = "V19" | IOSTANDARD = LVCMOS33;
NET "alarm_led[2]" LOC = "U19" | IOSTANDARD = LVCMOS33;
NET "alarm_led[3]" LOC = "R20" | IOSTANDARD = LVCMOS33;
NET "alarm_led[4]" LOC = "T19" | IOSTANDARD = LVCMOS33;
NET "alarm_led[5]" LOC = "U20" | IOSTANDARD = LVCMOS33;

NET "lcd_e" LOC = "AB4" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rs" LOC = "Y14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rw" LOC = "W13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_7" LOC = "Y15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_6" LOC = "AB16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_5" LOC = "Y16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_4" LOC = "AA12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;